<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new card</title>
</head>
<body>
    <div class = "enter_data">
        <form method="POST"> 
            {% csrf_token %} 
            <h2>Данни за автомобила</h2>
            {{ b_form.as_p }} 
            <h2>Данни за клиента</h2>
            {{ c_form.as_p }} 
            <input type="submit" value="Submit"> 
        </form> 
    </div>
    <div class = "control_btns">
        <button id="first" onclick="getData(-1)">&lt;&lt;</button>
        <button id="previous" onclick="getData(-2)">&lt;</button>
        <button id="next" onclick="getData(-3)">&gt;</button>
        <button id="last" onclick="getData(-4)">&gt;&gt;</button>
        <button onclick="getData(0)">Add new card</button>
    </div>
    <script>
        function getData(card) {
            let url = 'http://127.0.0.1:8000/card/?C=' + card.toString();
            fetch(url);
            refr();
        }

        function delay(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        
        async function refr() {
            await delay(100);
            window.location.reload();
        }
    </script> 
</body>
</html>