<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
</head>
<body>
    <div class="container">
    <table id="table" data-height="460">
        <thead>
            <tr>
                <th data-field="RK">номер на работна карта</th>
                <th data-field="ime">Име на клиента</th>
                <th data-field="telefon">Телефон за връзка</th>
                <th data-field="RN">Регистрационен номер</th>
                <th data-field="Marka">Марка</th>
                <th data-field="Model">Модел</th>
                <th data-field="G_PR">Година на производство</th>
                <th data-field="KM">Изминати километри</th>
                <th data-field="Kupe">Купе</th>
                <th data-field="Rama">Рама</th>
                <th data-field="Dvigatel">Двигател</th>
                <th data-field="Descr">Описание на автомобила</th>
                <th data-field="Problem">Проблем</th>
                <th data-field="R_DATA">Дата на издаване</th>
            </tr>
        </thead>
    </table>
    </div>
    <a href='/'>Назад към статистиките</a><br></br>
    <a href='/cards'>Назад към разглеждането на сервизни карти</a>
    <button onclick="log()">Създаване на сервизна карта</button>

    <script type="text/javascript">
        var $table = $('#table');
        var myData = "{{ table_data|safe }}";
        function log() {
            console.log(myData);
        }
        $(function () {
            $('#table').bootstrapTable({
                data: myData
            });
        });
    </script>
</body>
</html>
